.remote-sync.json
nanoplot/__pycache__/
NanoPlot.egg-info/
README.rst
dist/
nanoplotter/__pycache__/
build/
nanotest/
tests/
.idea
nanomath/__pycache__/__init__.cpython-39.pyc
nanomath/__pycache__/nanomath.cpython-39.pyc
